#buy-page {
  width: 100vw;
  height: 100vh;
  background-image: url('./../../assets/gradient.jpeg');
}

.translucent {
  background-color: rgba(255, 255, 255, 0.1);
}

#filters {
  display: flex;
  flex-direction: column;
  gap: .5vh;
  padding: 1vh 1vw;
}

#buy-content {
  display: flex;
  justify-content: center;
  height: 62vh;
}

#buy-search {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#filter-search {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: .5vh;
}

#location-details {
  display: flex;
  gap: .5vw;
}

#most-viewed-container {
  text-align: center;
}

/* TODO: Adjust font sizes for text to enhance readability */

/* 
h2 {
  font-size: 4vh;
}

h3 {
  font-size: 3vh;
} */

.most-viewed-listing {
  border-radius: 25px;
}

#most-viewed-car-img {
  height: 60%;
  width: 100%;
  height: 40vh;
  object-fit: contain;
}

#most-viewed-car-info {
  padding: 0 1vw 1vh;
  display: flex;
  flex-direction: column;
  gap: .5vh;
}

#favorites-label {
  margin-left: 4vw;
  font-size: xx-large;
}

#favorites-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1vh;
}

#favorite-cars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.car-image {
  border-radius: 25px;
}

.buy-page-user-selection {
  border: none;
  border-radius: 10px;
}

#search-button:hover {
  border: 1px solid;
}