.buy-page {
  width: 100vw;
  height: 100vh;
  background-image: url('./../../assets/gradient.jpeg');
}

header {
  box-sizing: border-box;
  height: 8vh;
  display: flex;
  align-items: center;
  gap: 1vw;
  padding: .5vh .5vw .5vh 1vw;
  border-bottom: 3px solid black;
}

header img {
  height: 80%;
}

.redirect-links {
  margin-left: 2vw;
  display: flex;
  gap: 1vw;
}

.header-buttons:hover {
  color: #42b6ff;
  text-decoration: underline;
}

#title {
  cursor: default;
}

#logout {
  margin-left: auto;
  margin-right: 2vw;
}

#sidebar-opener {
  margin-right: 1vw;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: .5vh;
  padding: 1vh 1vw;
}

.buy-content {
  display: flex;
  justify-content: center;
  height: 62vh;
}

.buy-search {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter-search {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: .5vh;
}

.location-details {
  display: flex;
  gap: .5vw;
}

.most-viewed {
  text-align: center;
}

/* TODO: Adjust font sizes for text to enhance readability */

/* 
h2 {
  font-size: 4vh;
}

h3 {
  font-size: 3vh;
} */

.most-viewed-listing {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
}

.most-viewed-car-info {
  padding: 0 1vw 1vh;
  display: flex;
  flex-direction: column;
  gap: .5vh;
}

#most-viewed-car-img {
  height: 40vh;
  object-fit: contain;
}

#favorites-label {
  margin-left: 4vw;
  font-size: xx-large;
}

.favorites {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1vh;
}

.favorite-cars {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.car-image {
  border-radius: 25px;
}

select {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
}

select:focus {
  outline: none;
}

input {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
}

button {
  background-color: rgba(255, 255, 255, 0.1);
}

.pointer {
  cursor: pointer;
}