* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
}

input,
textarea {
  cursor: text;
  resize: none;
}

input:focus,
button:focus,
select:focus {
  outline: none;
}

.pointer {
  cursor: pointer;
}

.grow {
  transition: transform 0.2s ease;
}

.grow:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px lightskyblue;
}

.listings-container {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;
  align-items: center;
}

.listings-label {
  font-size: xx-large;
}

.listings-cars {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;
}

.listing-image {
  min-height: 100px;
  min-width: 175px;
  height: 20vh;
  width: 20vw;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  flex-shrink: 0;
}

.flipped-arrow {
  transform: scaleX(-1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fade {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* EXTERNAL CODE BELOW */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.loading-text {
  font-size: 48px;
  font-weight: bold;
}

.dots::after {
  content: '';
  text-align: left;
  animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {
  0% {
    content: ''
  }
  25% {
    content: '.'
  }
  50% {
    content: '..'
  }
  75% {
    content: '...'
  }
}