* {
  margin: 0;
  padding: 0;
  color: black;
  box-sizing: border-box;
}

input,
textarea {
  cursor: text;
  resize: none;
}

input:focus,
button:focus,
select:focus {
  outline: none;
}

.pointer {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* input[type='file'] {
  color: rgba(0, 0, 0, 0);
} */